
.main {
  display: flex;
  color: black;
  gap: var(--spacing-m);
  align-items: center;
}
.main > div {
  display: flex;
  align-items: center;
  gap: var(--spacing-m);
}
.selectedIcon {
  background: #fafafa;
  border-radius: 4px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selectedIcon svg {
  width: 30px;
  height: 30px;
}
.buttonIcon {
  width: 13px;
}
.selectedIcon svg {
  font-size: 20px;
  margin: auto 0;
}
.selectedIcon > span {
  padding-left: 4px;
  margin: auto 0;
}
