.main {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: var(--spacing-l);
}

.empty {
  text-align: center;
}

.toggler {
  color: #666;
  cursor: pointer;
}
.toggler:hover {
  color: black;
}